.cal {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 90px;
    background-color:#cccc;
    border:solid 5px grey;
    

}
label{
    display: block;
    font-size: 20px;
}
legend{
    font-size: 30px;
}


