@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';


@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: rgb(106, 95, 122);

body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
    background-image: url('assets/img/background.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: $primary;
    padding: 1em 0;

    a {
        color: white;
        text-decoration: none;
    }
    a.logo {
        font-weight: bold;
        text-decoration: none;
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;
            text-decoration: none;

            li a {
                padding: 1em;
                text-decoration: none;

                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
}

h1 {
    margin-top: 2em;
}